<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn bg-body-tertiary" (click)="buttonClicked()"><i class="bi bi-person-fill-gear"></i></button>
    <button type="button" class="btn bg-body-tertiary "><i class="bi bi-building-fill"></i></button>
    <button type="button" class="btn btn-primary"><i class="bi bi-search"></i></button>
    <button type="button" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button>
    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
  </div>
