.con{
    background-color:#c7c9cabc;
}
.ag-theme-quartz {
    --ag-row-hover-color: rgb(216, 226, 255);
    --ag-header-background-color: #fff;
    --ag-foreground-color: #454242;   
    --ag-background-color: #fff;
    --ag-odd-row-background-color: #f8c24675;
  
  
}
/* .ag-row-even{
    background-color: red;
} */

