.ptag{
    cursor: pointer;
}
.pan{
    color: #58666E;
}
.r2{
    background-color:#c7c9cabc;
}
.car{
    background-color: #ACAEC4;
    border-radius: 0%;
    border: none;
    
   
    
}
.icon1{
    font-size: 68px;
    color: white;
}
